.header{
    position: sticky;
    height: 70px;
    overflow: hidden;
    background-color: #4A6C6F;
    filter: drop-shadow(0px 1px 6px rgba(41, 63, 65, 1));
    
}

.toplogo img{
    margin-top: 3%;
    display: flex;
    align-items: center;
    height:50px;
}

.searchnav {
    display: flex;
    align-items: center;
    float: right;
}
.searchnav input{
    margin-top: 3%;
    padding-left: 5%;
    border-radius: 25px;
    border: none;
    width: 250px;
    height: 35px;
    font-size: 12px;
}
.searchnav img{
    position: absolute;
    height: 30px;
    top : 30%;
    left: 230px;

}
.poster{
    height: 600px;
}

.poster img{
    margin-top: 80%;
    height: 300px;
}

.poster1{
    margin-top: 8%;
}

.poster1 button{
    border-radius: 25px;
    background-color: #846075;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.h1{
	overflow: visible;
	width: 927px;
	white-space: nowrap;
	text-align: left;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}

.h2{
	overflow: visible;
	width: 927px;
	white-space: nowrap;
	text-align: left;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}

.buyer img{
    padding-top: 10%;
    padding-bottom: 10%;
    vertical-align:middle;
    height : 450px;
}

.seller img{
    padding-top: 10%;
    padding-bottom: 10%;
    vertical-align:middle;
    height : 450px; 
}

.peran{
    height: 600px;
}

.peran button{
    border-radius: 25px;
    background-color: #846075;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.box{
    background-color: #436164;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    height: 400px;
}

.box img{
    margin-top: 20px;
    margin-left: 4px;
    width: 25%;
}

.box p{
    margin-top: 50px;
    margin-left: 4px;
    text-align: left;
    color: rgba(255,255,255,1);
}

.title{
    margin-top: 5%;
    font-size: 40px;
	color: rgba(255,255,255,1);
}

.bgproduk {
    margin-top: 5%;
}

.filter{
    margin-top : 30px;
    left: 15px;
    color: rgba(255,255,255,1);
    border-right: 1px solid;
    margin-left: -10px;
    width: auto;
}

.lokasi{
    margin-top : 30px;
}

.penilaian{
    margin-top: 30px;
}

.checked {
    color: orange;
}

.filter button{
    border-radius: 25px;
    background-color: #846075;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));

}

.jProduk {
    font-size: 25px;
    top: 30px;
    font-family: Tahoma;
    font-weight: bold;
    color: rgba(255,255,255,1);
    border-bottom: 1px solid;
}

.listproduk{
    margin-left: 20px;
}

.produk {
    margin-top: 30px;
    color: rgba(255,255,255,1);
}

.listproduk img{
    position: relative;
    float: left;
    width:  180px;
    height: 180px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.tampilproduk img{
    position: relative;
    float: left;
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}



/*********************************************
    			Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
    color : white;
	max-width: 1140px;
	background:  #436164;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}



